APP_NAME="inspaceDev"
API_SERVER_HOST="http://0.0.0.0:3000"
FILESPACE_ROOT_NAME="My Files"
EOS_HOST="127.0.0.1"
EOS_PORT="8888"
EOS_PROTOCOL="http"
EOS_CHAIN_ID="cf057bbfb72640471fd910bcb67639c22df9f92470936cddc1ade0e2f2e7dc4f"
IPFS_GATEWAY="http://0.0.0.0:8081"
CURRENCY_SYMBOL="ISC"
CURRENCY_DECIMAL_PLACES="4"
BLOCKS_BEHIND="3"
EXPIRE_SECONDS="30"
AUTH_EXPIRY="3600000"
