API_SERVER_HOST="http://0.0.0.0:3000"
FILESPACE_ROOT_NAME="My Files"
EOS_HOST="0.0.0.0"
EOS_PORT="8888"
EOS_CHAIN_ID="abcd"
IPFS_GATEWAY="http://0.0.0.0:8081"
CURRENCY_SYMBOL="ISC"
CURRENCY_DECIMAL_PLACES=4
BLOCKS_BEHIND=3
EXPIRE_SECONDS=30
